{% extends "base.html" %}

{% block content %}

  <div class="card">
    <div class="card-header bg-success text-white">
        Employee Details
    </div>

    <div class="row">
  <!--LEFT SIDE: Data Entry Form -->
      <div class="col-md-6">

        <div class="card-body">

         <form id='empform' method = "POST" action="/">

          <div class="mb-2 row small-row">
            <label class="col-sm-4 col-form-label" style="font-weight:bold;">Employee ID:</label>
            <div class="col-sm-8">
            <input type="number" id="emp_id" name="emp_id" value="{{empd.PERNR if empd else ''}}" class="form-control" style="font-weight:bold;">
            </div>
          </div>

        </form>
          <div class="mb-2 row small-row">
            <label class="col-sm-4 col-form-label" style="font-weight:bold;">Designation:</label>
            <div class="col-sm-8">
            <input type="text" id="desig" name="desig" value="{{empd.STEXT if empd else ''}}" class="form-control" style="font-weight:bold;" readonly>
            </div>
          </div>
          <div class="mb-2 row small-row">
            <label class="col-sm-4 col-form-label" style="font-weight:bold;">Mobile:</label>
            <div class="col-sm-8">
            <input type="text" id="mob" name="mob" value="{{empd.MOBILE if empd else ''}}" class="form-control" style="font-weight:bold;" readonly>
            </div>
          </div>
          <div class="mb-2 row small-row">
            <label class="col-sm-4 col-form-label" style="font-weight:bold;">Address:</label>
            <div class="col-sm-8">
            <textarea rows="3" id="addr" name="addr" value="{{empd.ADDRESS if empd else ''}}" rows ="3" class="form-control" style="font-weight:bold; resize:none;" readonly></textarea>
            </div>
          </div>

      </div>
    </div>
  <!--right SIDE: Data Entry Form -->
  <div class="col-md-6">
      <div class="card-body">

          <div class="mb-2 row small-row">
            <label class="col-sm-4 col-form-label" style="font-weight:bold;">Name:</label>
            <div class="col-sm-8">
            <input type="text" id="name" name="name" value="{{empd.NAME if empd else ''}}" class="form-control" style="font-weight:bold;" readonly>
            </div>
          </div>
          <div class="mb-2 row small-row">
            <label class="col-sm-4 col-form-label" style="font-weight:bold;">Job:</label>
            <div class="col-sm-8">
            <input type="text" id="job" name="job" value="{{empd.JOB_TXT if empd else ''}}" class="form-control" style="font-weight:bold;" readonly>
            </div>
          </div>
          <div class="mb-2 row small-row">
            <label class="col-sm-4 col-form-label" style="font-weight:bold;">Email:</label>
            <div class="col-sm-8">
            <input type="text" id="email" name="email" value="{{empd.EMAIL if empd else ''}}" class="form-control" style="font-weight:bold;" readonly>
            </div>
          </div>
          <div class="mb-2 row small-row">
            <label class="col-sm-4 col-form-label" style="font-weight:bold;">Org unit:</label>
            <div class="col-sm-8">
            <input type="text" id="org" name="org" value="{{empd.ORG_TXT if empd else ''}}" class="form-control" style="font-weight:bold;" readonly>
            </div>
          </div>

      </div>
    </div>

 </div>
</div>
<script src="{{ url_for('static', filename='javas.js') }}"></script>

{% endblock %}
